<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="{{title}}"/>
		<meta name="viewport" content="width=device-width"/>
		<title>
			{{title}}
			| Satisfy your grilled food cravings</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="/css/bootstrap5.css">
			<link rel="stylesheet" href="/css/owl.carousel.min.css"/>
			<link rel="stylesheet" href="/css/owl.theme.default.min.css"/>
			<link rel="stylesheet" href="/css/tostar.min.css"/>
			<link rel="stylesheet" href="/css/style.css"/>
			<link rel="stylesheet" href="/css/custom.css"/>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</head>
	<body>
		<twig:Nav title="{{title}}"/>
		<twig:MobileNav
		title="{{title}}"/>
		{##}
		{% block body %}{% endblock %}
		<twig:footer title="{{title}}"/>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap5.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/tostar.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/custom.js"></script>
	</body>
</html>
